* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(135deg, #2148f7a6 0%, #ce1fb1 100%), url(archivos/ing-fondolila.jpg);
    background-attachment: fixed;
} 

h1 {
    color: #fff;
    font-family: 'Monoton', cursive;
    font-size: 65px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
/* enlace arriba a la derecha para volver a inicio */
.enlace-volver {
    font-size: 15px;
    color: #fff;
}

.enlace-volver:hover {
    transition: 1s;
}
/* enlace arriba a la derecha ara ir a la siguiente seccion */
.ir-a {
    margin-left: -84%;
    color: #6cadf8;
    text-decoration: none;
}

.ir-a:hover{
    transition: 1s;
    color: black;
}
/* texto dentro de la barra de navegacion izquierda */
.nav-link {
    font-family: 'popins', sans-serif;;
}

.redes {
    color: blueviolet;
}

.redes:hover {
    transition: 1s;
    color: orangered;
}

.offcanvas-header{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.offcanvas-body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

/* slider 3D --------------------------------------------------*/

.container-slider {
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio] {
    display: none;
    /* display: flex;
    padding-top: 500px; */
}

.container {
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.btn a {
    text-decoration: none;
    color: #f4f0f79d;
    font-family: 'popins', sans-serif;
}

#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}


#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}


#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3 {
    transform: translateX(0) scale(1);
    z-index: 1;
}

.titulo-secundario {
    display: flex;
    align-self: center;
    justify-content: center;
}




/* seccion responsive-------------------------------------------------------- */
@media screen and (max-width:1236px){
    .carousel-inner {
        width: 500px;
        height: 500px;
        margin-left: 270px;
        margin-top: 200px;
        margin-bottom: 100px;
        
        }
        .ir-a {
            margin-left: -20px;
        }

}

@media screen and (max-width:850px){
    h1 {
        font-size: 40px;
        padding-top: 100px;
    }

    .carousel-inner {
        margin-left: 150px;
        margin-bottom: 200px;
    }

    .el-span {
        display: none;
        
    }

    .imagenes-carrusel {
        width: 400px;
        height: 400px;
    }
    .ir-a {
        margin-left: -20px;
    }

}

@media screen and (max-width:600px){
    .imagenes-carrusel {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 35px;
    }

    .ir-a {
        margin-left: -20px;
    }
}

@media screen and (max-width:420px){
    .imagenes-carrusel{
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 25px;
    }

    .carousel-inner {
        margin-left: 80px;
        margin-top: 50px;
    }

    .navbar-toggler {
        width: 20px;
        height: 20px;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .carrusel {
        margin-top: 20px;
    }
}