* {
  margin: 0;
  padding: 0;
}
/* quitar scroll vertical */
body{
    overflow-y: hidden;
    overflow-x: hidden;
}

/* fondo colorido */
section {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg,rgba(0, 0, 255, 0.952),rgba(255, 38, 0, 0.938),rgba(0, 247, 255, 0.856)), url(archivos/img-lineas.jpg);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 15s ease-in-out infinite;
}


@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* derechos de autor */

.derechos {
    font-family:'arial', cursive;
    font-size: small;
    opacity: 50%;
}

 /* titulo  */
 h1 {
    /* color: rgba(0, 0, 0, 0.719); */
    color: #fff;
    font-family: 'Monoton', cursive;
    font-size: 65px;
    letter-spacing: 2px;

}

li {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 20px;
}

/* esto para sacar las pelotitas de los list items */
 ul {
    list-style-type: none;
 }




/* barra de navegacion */

.barra {
    background-color: transparent;
}


.redes {
    color: blueviolet;
}

.redes:hover{
    color: orangered;
}


/* titulo principal */

.texto-principal{
    padding:400px;
    text-align: start;
}

a {
    text-decoration: none;
    /* color: rgba(0, 0, 0, 0.719); */
    color: #fff;
    padding: 3px;
    transition: 1s;
}

a:hover{
    color: black;
    transition: 1s;
    
}

.texto-principal {
    animation-name: textoAnimado;
    animation-duration: 5s ;
}

@keyframes textoAnimado {
     0%{
      transform: translateX(100%);
    }

    100%{
      transform: translateX(0);
    }

    0% {
        opacity: calc(0);
    }

    25%{
        opacity: calc(0);
    }
}

/* medias */

@media screen and (max-width:910px){
     
    .texto-principal {
        padding: 200px;
        text-align: start;
    }

    h1 {
        font-size: 55px;
    }
}

@media screen and (max-width:650px){
    .texto-principal {
        padding: 100px;
        text-align: start;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:420px) {
    .texto-principal {
        padding: 60px;
    }

    h1 {
        font-size:20px;
    }

    li{
        font-size: 10px;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .navbar-toggler {
        height: 20px;
        background-color: #9f45f3;
    }
}

.offcanvas-header{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.offcanvas-body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}