* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(135deg, #2148f7a6 0%, #ce1fb1 100%), url(archivos/ing-fondolila.jpg);
    background-attachment: fixed;
} 

h1 {
    color: #fff;
    font-family: 'Monoton', cursive;
    font-size: 65px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
/* enlace arriba a la derecha para volver a inicio */
.enlace-volver {
    font-size: 15px;
    color: #fff;
}

.enlace-volver:hover {
    transition: 1s;
}
/* enlace arriba a la derecha ara ir a la siguiente seccion */
.ir-a {
    margin-left: -84%;
    color: #6cadf8;
    text-decoration: none;
}

.ir-a:hover{
    transition: 1s;
    color: black;
}
/* texto dentro de la barra de navegacion izquierda */
.nav-link {
    font-family: 'popins', sans-serif;;
}

.redes {
    color: blueviolet;
}

.redes:hover {
    transition: 1s;
    color: orangered;
}

.offcanvas-header{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.offcanvas-body {
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}


/* seccion carrusel */
.imagenes-carrusel {
    margin: 70px 700px;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.el-span {
    font-size: 20px;
    padding-left: 42%;
    color: #fff;
    font-family: 'Ysabeau Office', sans-serif;
}

/* seccion responsive-------------------------------------------------------- */
@media screen and (max-width:1236px){
    .carousel-inner {
        width: 500px;
        height: 500px;
        margin-left: 270px;
        margin-top: 200px;
        margin-bottom: 100px;
        
        }
        .ir-a {
            margin-left: -20px;
        }

}

@media screen and (max-width:850px){
    h1 {
        font-size: 40px;
        padding-top: 100px;
    }

    .carousel-inner {
        margin-left: 150px;
        margin-bottom: 200px;
    }

    .el-span {
        display: none;
        
    }

    .imagenes-carrusel {
        width: 400px;
        height: 400px;
    }
    .ir-a {
        margin-left: -20px;
    }

}

@media screen and (max-width:600px){
    .imagenes-carrusel {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 35px;
    }

    .ir-a {
        margin-left: -20px;
    }
}

@media screen and (max-width:420px){
    .imagenes-carrusel{
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 25px;
    }

    .carousel-inner {
        margin-left: 80px;
        margin-top: 50px;
    }

    .navbar-toggler {
        width: 20px;
        height: 20px;
    }

    .navbar-toggler-icon {
        display: none;
    }

    .carrusel {
        margin-top: 20px;
    }
}