* {
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(120deg, #5586f7 0%, #f87074 100%);
    background-attachment: fixed;
}
/* backgorung-attachment es para que el fondo colorido no se vea cortado por secciones */


h1 {
    font-family: 'Monoton', cursive;
    font-size: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.imagen {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 18%;
    margin-top: 50px;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    0% {
       opacity: 0;
       filter: blur(20px);
    }

    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}

.enlace-correo {
    padding-left: 25px;
    
}

a {
    color: #fff;
    text-decoration:none;
    transition: 1.5s;
    font-family: 'Special Elite', cursive;
}

a:hover {
    color: #0313f8;
    transition: 1s;
}

/* formulario */

.formulario {
    padding-left: 70%;
    margin-top: -15%;
    font-family: 'Poppins', sans-serif;
    
}

.mi-boton {
    background-color: #f56bf5;
    border-color: #ea55f7;
}

.mi-boton:hover {
    background-color: #8f089b;
    border-color: #8f089b;
}
