* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: linear-gradient(to top, #7304a7d7 0%, #e442b6a8 100%), url(../archivos/img-estrellas4.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero {
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Borel', cursive;
}

.linea {
    /* background: rgb(153, 152, 153); */
    background: #242323;
    height: 2px;
    width: 100%;
    display: block;
}

.textos-hero h1 {
    font-size: 60px;

}

.textos-hero p {
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: rgb(192, 105, 233);
    border-radius: 8px;
    color: white;
}

.svg-hero {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

.titulo-secundario {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(59, 58, 59, 0.658);
}

.nav-link {
    color: #c040fcd7;
    padding-bottom: 50px;
}

.nav-link:hover {
    color: #9ee442b7;
}

/* galeria de imagenes responsive */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}
.galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(178, 28, 248, 0.5);
}


.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;

}

/* trasicion de las imagenes */

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img { 
    /* width: 75vw; si le saco esto la imagen se ve mejor porque isno se ve toda estirada */
    max-height: 70vh ;
}

.light-box:target {
    transform: scale(1);
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #e442b6a8;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #e442b6a8;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}


/* 
.info {
    padding-top: 50px;
    font-size: 40px;
    padding-left: 70px;
    
} */

/* .info {
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
} */

.background-container {
    height: 500px;
    background: url(../archivos/img-empren/img-fondo-texto.jpg), no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.card-container {
    width: 45rem;
    height: 25rem;
    border: 2px solid #fafafa10;
    margin: 0 auto;
    border-radius: 10px;
}

.texto-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: #fff;
}

.texto-tecnica {
    color: #2c2b2b;
    padding: 50px;
    font-size: 20px;

}

.glass-effect {
    background: #0c0c0c10;
    backdrop-filter: blur(0.3rem);
    -webkit-backdrop-filter: blur(0.3rem);
}

.info h2 {
    font-size: 40px;
    color: rgba(59, 58, 59, 0.658);
    padding-bottom: 20px;
}
 .info-2 {
    background-image: linear-gradient(to right, #533952c0 0%, #8946e04f 19%, #ba57e16c 42%, #6037ad7e 79%, #3d636d8a 100%);
 
 }

/* .texto-info {
    font-size: 20px;
} */

/* columnas -------------------------------------------*/
.titulo-info-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
    color: rgba(59, 58, 59, 0.658);
}
.text-center {
    padding-bottom: 85px;
}


.columnas {
    background-image: linear-gradient(to right, #b14ef3a1 0%, #5c19f7c9 19%, #9e57e1 42%, #864cf3 79%, #967ad8 100%);
    border-radius: 20px;
    height: 500px;
}

.lista li {
     padding: 10px;
     list-style-type: none;
     font-size: 20px;
     margin-top: 45px;
     color: #fff;
}

.form-item {
    padding: 15px;
}

.form-item textarea {
    width: 300px;
    height: 150px;
    border-radius: 15px;
}

.boton-enviar {
    width: 170px;
    border-radius: 5px;
    background-color: #9ee442b7;
    border-color: #368140;
    border-style: none;
    color: #414040;
    transition: .5s;
    font-family: 'popins', cursive;
}

.boton-enviar:hover {
    color: #242323;
    background-color: #368140;
    border-style: none;
    transition: .5s;
    width: 140px;
    font-family: 'popins', cursive;
}


.seccion-redes {
    background-image: linear-gradient(to right, #e5a2ee9c 0%, #c081eb94 19%, #245237ad 42%, #9a6decb9 79%, #646cd8 100%), url(../archivos/img-empren/img-sailor.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.titulo-seguime {
    font-size: 50px;
    color: rgba(59, 58, 59, 0.74);
    padding-top: 50px;
    padding-left: 50px;

}

.redes-contacto {
    padding-left: 100px;
    padding-top: 100px;
    font-size: 50px;
}

.redes-contacto a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
    /* con esto puedo hacer que las fuentes tengan un color degradado */
    background: radial-gradient(#8a0202,#0515f7 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* la consola me pedia que argeue la propieda de aca abajo si es que uso la propiedad de arriba */
    background-clip: transparent;
}

.redes-contacto a:hover {
    color: #9ee442b7;
    transition: .5s;
}

.bi {
    color: rgb(198, 157, 245);
}
/* medias-------------------------------------------------------------------------------------------- */
@media screen and (max-width:400px){
    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(200px), 1fr);
    }

    .close {
        top: 20px;
        right: 20px;
    }
}